*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f2f5f9;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:400px;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.15);
}

h1{
    text-align:center;
    margin-bottom:20px;
    color:#0077ff;

}

label{
    display:block;
    margin-top:15px;
}

input:focus,
select:focus{
    outline: none;
    border: 2px solid #0077ff;
    border-radius:5px;
    width:100%;
    padding:10px;
    margin-top:5px;
}

button{
    transition:0.3s;
    width:100%;
    margin-top:20px;
    padding:12px;
    border:none;
    background:#0077ff;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:#005fd1;
}

h2{
    margin-top:25px;
}

#expense-list{
    margin-top:15px;
}
.expense-item{
    background:#f7f7f7;
    padding:15px;
    margin-top:15px;
    border-left:5px solid #0077ff;
    border-radius:8px;
}

.expense-item h3{
    color:#0077ff;
    margin-bottom:10px;
}

.expense-item p{
    margin:5px 0;
}
.deleteBtn{
    background:red;
    color:white;
    border:none;
    padding:8px 15px;
    margin-top:10px;
    cursor:pointer;
    border-radius:5px;
}

.deleteBtn:hover{
    background:darkred;
}
.editBtn{
    background:#28a745;
    color:white;
    border:none;
    padding:8px 15px;
    border-radius:5px;
    cursor:pointer;
    margin-right:10px;
}

.editBtn:hover{
    background:#218838;
}
#search{
    width:100%;
    padding:10px;
    margin:15px 0;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:16px;
}
.dashboard{
    display:flex;
    gap:15px;
    margin:20px 0;
    flex-wrap:wrap;
}

.card{
    flex:1;
    min-width:180px;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 3px 10px rgba(0,0,0,0.15);
    text-align:center;
}

.card h3{
    color:#555;
    margin-bottom:10px;
}

.card h2{
    color:#0077ff;
}
#themeBtn{
    padding:10px 20px;
    border:none;
    background:#222;
    color:white;
    border-radius:5px;
    cursor:pointer;
    margin-bottom:20px;
}

#themeBtn:hover{
    background:#444;
}
body.dark{
    background:#1b1b1b;
    color:white;
}

body.dark .container{
    background:#2b2b2b;
}

body.dark input,
body.dark select{
    background:#444;
    color:white;
    border:1px solid #666;
}

body.dark .card{
    background:#333;
    color:white;
}

body.dark .expense-item{
    background:#3d3d3d;
}
.controls{
    display:flex;
    gap:15px;
    margin:20px 0;
    flex-wrap:wrap;
}

.controls input,
.controls select{
    flex:1;
    min-width:200px;
    padding:10px;
}
.progress{
    width:100%;
    height:20px;
    background:#ddd;
    border-radius:20px;
    overflow:hidden;
    margin:15px 0;
}

#progressBar{
    height:100%;
    width:0%;
    background:#28a745;
    transition:0.5s;
}
